# Local and production environment configuration
DB_HOST=localhost
DB_NAME=friedays_bocaue
DB_USER=root
DB_PASS=admin

# SMTP configuration
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=edzel0arciga@gmail.com
SMTP_FROM_NAME=Friedays Bocaue

# PayMongo configuration
PAYMONGO_SECRET_KEY=
PAYMONGO_PUBLIC_KEY=pk_test_7fb19JTL7YkYSWYmcBx6iGmG
